header {
  padding: 1em 0;
  border-bottom: solid 0.5px #2d3c49;
}

#udacity-logo {
  max-width: 5em;
}

.name {
  text-align: right;
}

.hero {
  padding: 1em 0;
}

.no-side-padding {
  padding-right: 0;
  padding-left: 0;
}

.jumbotron-fluid {
  background: url("/images/city.jpg") no-repeat center center fixed;
}