* {
  font-family: 'Work Sans', sans-serif;
}

header {
  padding: 1em 0;
  border-bottom: solid 0.5px #2d3c49;
}

#udacity-logo {
  max-width: 5em;
}

.name {
  text-align: right;
}

.hero {
  padding: 1em 0;
}

.featured-work-list {
  text-align: center;
}

.project-description {
  padding: 0.5em 0;
}

.project-description h4 {
  margin: 0;
}

.project-description a {
  font-size: 11px;
}