* {
  font-family: 'Work Sans', sans-serif;
}

header {
  padding: 1em 0;
  border-bottom: solid 0.5px #2d3c49;
}

h1 {
  font-weight: 200;
  margin: 0;
}

h5 {
  margin: 0;
}

#udacity-logo {
  max-width: 4em;
}

@media (max-width: 575px) {
  h1 {
    font-size: 1.85rem;
  }

  h5 {
    font-size: 1rem;
  }

  #udacity-logo {
   max-width: 3em;
  }
}

.name {
  text-align: right;
}

#hero img {
  padding: 1em 0;
}

.featured-work-list {
  text-align: center;
}

.project-description {
  padding: 0.5em 0;
}

.project-description h4 {
  margin: 0;
}

@media(min-width: 768px) {
  .project-description a {
    font-size: 14px;
  }
}

footer p {
  font-size: 12px;
  color: #bbb;
  margin: 0;
}

footer p a {
  color: #bbb;
}
